* {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    background-color: #F5F7F8;
    justify-content: space-between;
    color: black;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.nav-menu ul {
    color: black;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#navMenu {
    display: none;
}

#navMenu ul {
    padding: 5px;
    width: 70px;
}

#navMenu ul li {
    padding: 5px;
    background-color: #F5F7F8;
}

#toggleButton img {
    width: 24px;
    height: 24px;
}
