* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #F5F7F8;
    justify-content: space-between;
    color: black;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.nav-menu ul {
    color: black;
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.nav-menu ul li:hover {
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .nav-menu ul li {
        display: none; 
    }
}

@media only screen and (min-width: 576px) {
    #toggleButton {
        display: none; 
    }
}

@media only screen and (min-width: 576px) {
    #navMenu ul {
        display: none; 
    }
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease; 
    margin-top: 75px;
}

.profile-picture h2 {
    margin-top: 25px;
}

.profile-picture img:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

#navMenu {
    display: none;
    position: absolute;
    right: 0;
    margin: 30px;
    z-index: 9999;
}

#navMenu ul {
    width: 125px;
    background-color: #F5F7F8;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
}

#navMenu ul li {
    list-style-type: none;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

#navMenu ul li:hover {
    background-color: aqua;
    cursor: pointer;
}

#toggleButton img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.icons {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.icons img {
    width: 24px;
    height: 24px;
}

.icons img:hover {
    transform: translateY(-10px);
    transition: 1s;
    cursor: pointer;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-1 {
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    width: 35%;
    height: 200px;
} 

.card-2 {
    margin: 10px;
    padding: 10px;
    background-color: aqua;
    width: 35%;
    height: 200px;
}
